*,
::after,
::before {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  @extend %m-0, %p-0;
  outline: none;
}

html {
  font-family: 'font-primary', sans-serif;
  scroll-behavior: smooth;
  @extend %c-1, %cud;
}

ul {
  list-style: none;
}

img {
  max-height: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}