// MAIN COLORS
$color-primary: #464646;

// TEXT COLORS
$color-active: #0B041B;
$color-yellow: #FFCA45;
$color-orange-1: #FF6107;
$color-orange-2: #FF823B;
$color-white: #fff;
$color-black: #000;
$color-title: #021D1A;
$color-more: #124F48;

// BUTTON BG COLORS
$bg-btn-green: #124F48;
$bg-btn-orange: #FF823B;

// ICON BG COLORS
$bg-icon-yellow: #FFC90C;
$bg-icon-lightyellow: #FFF6D5;
$bg-icon-green: #198B39;
$bg-icon-lightgreen: #DEFFE5;
$bg-icon-blue: #0085FF;
$bg-icon-lightblue: #DBEEFF;
$bg-icon-orange: #FF7527;
$bg-icon-lightorange: #FFEFE6;

// CIIRCLE BG COLORS
$bg-circle-yellow: #FFCA45;
$bg-circle-blue: #71BBFF;
$bg-circle-orange: #FF823B;
$bg-circle-green: #124F48;

// SHOWCASE, FOOTER BG COLORS
$bg-showcase: #E9FBF9;

// BRAND BG COLOR
$bg-brand-blue: #F1FAF9;

// CARD BG COLORS
$bg-card-green: rgba(#DBFFE9, .8);
$bg-card-yellow: rgba(#FFF7CA, 31);
$bg-card-pink: #FFE9E0;

// TRANSPARENT COLORS
$bg-transparent-white-1: rgba(#fff, .9);
$bg-transparent-green: rgba(#124f48, .37);



// NAV BUTTON SIZE
$side-button-height: 18px;
$side-button-width: 26px;
$side-button-weight: 2px;

// SIDE BAR SIZE
$sidebar-width: 12.5rem;
$sidebar-height: 100vh;